{{- /* https://pkg.go.dev/text/template#hdr-Actions */ -}}
{{- /* require Title:string, Version:string, Description:string, Endpoints: []Endpoint Objects: []Object */ -}}
{{- if (not .SkipMetadata) -}}
---
title: {{.Title}}
version: {{.Version}}
---
{{ end }}
# {{.Title}}

{{.Description}}

- [paths](#paths)
- [schemas](#schemas)

## paths

| endpoint | operationId | tags | summary |
| --- | --- | --- | --- |
{{- range .Endpoints }}
| `{{.Method}} {{.Path}}` | [{{.OperationID}}](#{{.HtmlID}})  | {{if (ne .Tags "")}}`{{.Tags}}`{{end}} | {{.Summary}} |
{{- end }}
{{- range .HTMLs}}
| `{{.Method}} {{.Path}}` | [{{.OperationID}}](#{{.HtmlID}})  | {{if (ne .Tags "")}}`{{.Tags}} {{ (index .OutputList 0).ContentType}}`{{else}}`{{(index .OutputList 0).ContentType}}`{{end}} | {{.Summary}} |
{{- end }}

{{ range $_, $op := .Endpoints }}{{/* start of endpoints block */}}
### {{$op.OperationID}} `{{$op.Method}} {{$op.Path}}`

{{$op.Summary}}

| name | value | 
| --- | --- |
| operationId | {{$op.OperationID}} |
| endpoint | `{{$op.Method}} {{$op.Path}}` |
| tags | {{if (ne $op.Tags "")}}`{{$op.Tags}}`{{end}} |

{{ if ne $op.Input.TypeString "" }}
#### input (application/json)

```go
// {{$op.Method}} {{$op.Path}}
{{$op.Input.TypeString}}
```
{{- end }}

{{- if ne (len $op.OutputList) 0 }}

#### output (application/json)

```go
{{- range $i, $x := .OutputList}}
{{- if ne $x.TypeString "" }}
{{ if ne $i 0}}{{"\n"}}{{ end }}// {{$op.Method}} {{$op.Path}} ({{$x.Name}})
{{$x.TypeString}}
{{- end }}
{{- end }}
```
{{- if .HasExample }}

examples

```json
{{- range $i, $x := .OutputList}}
{{- range $j, $e := $x.Examples}}
{{ if (or (ne $j 0) (ne $i 0))}}{{"\n"}}{{ end }}// {{$op.Method}} {{$op.Path}} ({{$x.Name}})
{{if ne $e.Description ""}}// {{$e.Description}}{{end}}
{{$e.Value}}
{{- end }}
{{- end }}
```
{{- end }}
{{- end }}

{{- if ne $op.Description "" }}

#### description

{{$op.Description}}
{{- end }}

{{- end }}{{/* end of endpoints block */}}

{{ range $_, $op := .HTMLs }}{{/* start of htmls block */}}
### {{$op.OperationID}} `{{$op.Method}} {{$op.Path}}`

{{$op.Summary}}

| name | value | 
| --- | --- |
| operationId | {{$op.OperationID}} |
| endpoint | `{{$op.Method}} {{$op.Path}}` |
| tags | {{if (ne $op.Tags "")}}`{{$op.Tags}}`{{end}} |

{{ if ne $op.Input.TypeString "" }}
#### input

```go
// {{$op.Method}} {{$op.Path}}
{{$op.Input.TypeString}}
```
{{- end }}

{{- if ne (len $op.OutputList) 0 }}
{{with $output := (index $op.OutputList 0)}}
#### output ({{$output.ContentType}})

{{$output.Summary}}{{$output.Description}}
{{- end }}
{{- end }}

{{- if ne $op.Description "" }}

#### description

{{$op.Description}}
{{- end }}

{{- end }}{{/* end of htmls block */}}

{{if ne (len .Objects) 0 }}{{/* start of schemas block */}}

----------------------------------------

## schemas

| name | summary |
| --- | --- |
{{- range .Objects}}
| [{{.Name}}](#{{.HtmlID}}) | {{.Summary}} |
{{- end }}

{{ range .Objects }}

### {{.Name}}

```go
{{.TypeString}}
```
{{- if ne (len .Examples) 0}}

exmaples

```js
{{- range $i, $e := .Examples}}
{{ if ne $i 0}}{{"\n"}}{{ end }}// {{.Description}}
{{.Value}}
{{- end }}
```
{{- end }}
{{ range .Links}}
- [{{.Title}}]({{.URL}})
{{- end }}

{{- if ne .Description "" }}

#### description

{{.Description}}
{{- end }}

{{- end }}
{{- end }}{{/* end of schemas block */}}